/*
 * @Author: czy0729
 * @Date: 2023-11-15 11:55:08
 * @Last Modified by: czy0729
 * @Last Modified time: 2023-11-15 11:55:38
 */
component-modal {
  position: fixed !important;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
