{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./",
          "@src": "./src",
          "@assets": "./src/assets",
          "@bgm": "./src/assets/images/bgm",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@screens": "./src/screens",
          "@stores": "./src/stores",
          "@styles": "./src/styles",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
