{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./",
          "@assets": "./assets",
          "@bgm": "./assets/images/bgm",
          "@components": "./components",
          "@constants": "./constants",
          "@screens": "./screens",
          "@stores": "./stores",
          "@styles": "./styles",
          "@utils": "./utils"
        }
      }
    ]
  ]
}
