<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.czy0729.bangumi">
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:requestLegacyExternalStorage="true"
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="true"
    android:theme="@style/AppTheme">
    <meta-data android:name="UMENT_APPKEY" android:value="5ddceaa10cafb2ea9900066a" />

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
      android:theme="@style/Theme.App.SplashScreen"
      android:screenOrientation="unspecified">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="bangumi"/>
        <data android:scheme="com.czy0729.bangumi"/>
      </intent-filter>

      <intent-filter>
        <data
          android:host="bgm.tv"
          android:scheme="http" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="bgm.tv"
          android:scheme="https" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="bangumi.tv"
          android:scheme="http" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="bangumi.tv"
          android:scheme="https" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="chii.in"
          android:scheme="http" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <data
          android:host="chii.in"
          android:scheme="https" />
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.BROWSABLE" />
      </intent-filter>
    </activity>
  </application>
</manifest>
