/*
 * @Author: czy0729
 * @Date: 2023-11-08 19:20:58
 * @Last Modified by: czy0729
 * @Last Modified time: 2023-11-08 19:23:04
 */
component-popover {
  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.12);
  }
}
