/*
 * @Author: czy0729
 * @Date: 2023-11-10 02:02:44
 * @Last Modified by: czy0729
 * @Last Modified time: 2024-09-02 21:02:01
 */

/** ==================== reset ==================== */
// [data-key]::after {
//   content: attr(data-key);
//   position: absolute;
//   top: 0;
//   right: 6px;
//   padding: 2px;
//   font-size: 12px;
//   color: rgba(255, 255, 255, 0.8);
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 3px;
//   pointer-events: none;
// }

span {
  text-underline-offset: 0.28em;
}
a[data-href] {
  cursor: pointer;
}

/** ==================== @components ==================== */
component-storybook-scroll {
  &[data-inverted='true'] {
    transform: scale(-1);

    > div > div > * {
      transform: scale(-1);
    }
  }
}

component-header {
  &-back,
  &-right {
    z-index: 1;
  }
}

component-tabs {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

component-image {
  &-image[data-auto-size='true'] {
    img {
      position: unset !important;
      z-index: unset !important;
      width: unset !important;
      height: unset !important;
      inset: unset !important;
    }
  }
}

component-cover {
  display: flex;
}

component-input {
  &[data-editable='false'] {
    input {
      cursor: not-allowed;
    }
  }

  input,
  textarea {
    caret-color: rgb(254, 138, 149);
    caret-width: 2px;
  }
}

component-popover {
  component-button {
    flex: 1;
  }
}

component-switch-pro {
  cursor: pointer;
}

component-mask {
  & > component-touchable-opacity {
    position: absolute !important;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

component-render-html {
  display: block;
  word-break: break-all;
  will-change: transform;
  transform: translate3d(0, 0, -1px);

  & > div {
    display: inline-block !important;

    > div[dir='auto'] {
      display: inline;
    }
  }
}

component-bgm {
  display: inline-block;
}

/** ==================== @screens/_/base ==================== */
base-pagination-list,
base-pagination-list-2 {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

base-rank {
  display: flex;
}

base-name {
  & > div {
    display: inline-block !important;
  }
}

/** ==================== @screens/_/item ==================== */
item-post {
  padding-right: 8px !important;
}

/** ==================== @screens ==================== */
screen-smb {
  component-storybook-scroll {
    flex: 1;
  }
}

screen-topic {
  &-touch-scroll {
    position: static !important;

    > div > div {
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
      }
      &:hover:after {
        opacity: 1;
      }
    }
  }
}

screen-zone {
  &-parallax-image-bg {
    pointer-events: none !important;

    > div > div {
      transform: scale(1.4);
    }
  }
  &-tab-view {
    > div,
    > component-storybook-scroll > div {
      height: 100vh !important;
      min-height: 100vh !important;
      max-height: 100vh !important;
    }
  }
}
