/*
 * @Author: czy0729
 * @Date: 2023-11-10 02:02:44
 * @Last Modified by: czy0729
 * @Last Modified time: 2023-11-10 03:23:09
 */
/** ========== 以下为特殊情况覆盖的样式 ========== */
/** 因为直接包裹滚动列表的组件 */
component-tabs,
base-pagination-list,
base-pagination-list-2 {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/** 因为直接包裹额外组件 */
component-cover {
  display: flex;
}

/** 输入框 */
component-input {
  input {
    caret-color: rgb(254, 138, 149);
    caret-width: 2px;
  }
}

/** 因为直接包裹文字组件 */
base-rank {
  display: flex;
}

/** 因为直接包裹文字组件 */
base-name {
  & > div {
    display: inline-block !important;
  }
}
