/*
 * @Author: czy0729
 * @Date: 2023-11-10 02:02:44
 * @Last Modified by: czy0729
 * @Last Modified time: 2023-11-22 07:35:19
 */
// [data-key]::after {
//   content: attr(data-key);
//   position: absolute;
//   top: 0;
//   right: 6px;
//   padding: 2px;
//   font-size: 12px;
//   color: rgba(255, 255, 255, 0.8);
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 3px;
//   pointer-events: none;
// }

component-tabs,
base-pagination-list,
base-pagination-list-2 {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

component-cover {
  display: flex;
}

component-input {
  input,
  textarea {
    caret-color: rgb(254, 138, 149);
    caret-width: 2px;
  }
}

component-popover {
  component-button {
    flex: 1;
  }
}

base-rank {
  display: flex;
}

base-name {
  & > div {
    display: inline-block !important;
  }
}

screen-smb {
  component-storybook-scroll {
    flex: 1;
  }
}
