/*
 * @Author: czy0729
 * @Date: 2024-09-03 15:09:07
 * @Last Modified by: czy0729
 * @Last Modified time: 2024-09-03 15:09:28
 */
base-pagination-list {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
