/*
 * @Author: czy0729
 * @Date: 2024-09-03 15:38:20
 * @Last Modified by:   czy0729
 * @Last Modified time: 2024-09-03 15:38:20
 */
component-tabs {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
